<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.dk.mp.lsgl">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name="com.dk.mp.lsgl.LsglMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimThemep">

            <intent-filter>
                <action android:name="lsxsgl" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.dk.mp.lsgl.LsglTabActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimThemep">
        </activity>

        <activity
            android:name="com.dk.mp.lsgl.LsglInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
        </activity>

        <activity
            android:name="com.dk.mp.lsgl.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:theme="@style/noAnimThemep">
        </activity>

    </application>

</manifest>
